# Biblioteca pyodbc

1. Precisamos criar uma conexão com o banco de dados.

dados_conexao = ("Driver={Seu_Driver};"
                "Server=SeuServidor;"
                Database=NomeBaseDeDados;")
          
Se estivéssemos usando outro sistema de banco de dados, nosso driver mudaria. Para saber em outros casos, execute:
pyodbc.drivers() -> caso não encontre seu driver ali, basta buscar no google por "driver MeuBancoDeDados for pyodbc" e baixar

In [1]:
import pyodbc
print(pyodbc.drivers())

['SQL Server', 'SQL Server Native Client 11.0', 'SQL Server Native Client RDA 11.0', 'ODBC Driver 17 for SQL Server', 'Microsoft Access Driver (*.mdb, *.accdb)', 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)', 'Microsoft Access Text Driver (*.txt, *.csv)', 'SQLite3 ODBC Driver', 'SQLite ODBC Driver', 'SQLite ODBC (UTF-8) Driver']

In [2]:
import pyodbc

dados_conexao = ("Driver={SQLite3 ODBC Driver};"
            "Server=localhost;"
            "Database=salarios.sqlite;")

#caso precisasse de login e senha:
#dados_conexao = ("Driver={Seu_Driver};"
#            "Server=Seu_Servidor;"
#            "Database=NomeBaseDeDados;"
#            "UID=Login;"
#            "PWD=Senha;")


conexao = pyodbc.connect(dados_conexao)
print('Conexão Bem sucedida')

Conexão Bem sucedida

2. Agora, precisamos criar o que o pyodbc chama de cursor, que é basicamente quem vai executar os nossos códigos SQL

In [3]:
cursor = conexao.cursor()

3. Agora já podemos executar nossos comandos SQL.

Temos 2 opções aqui:

    1. Apenas Executar comandos SQL que vão acontecer no banco
    2. Executar o comando SQL e armazenar a consulta em uma variável no Python, como um dataframe do pandas

dataframe = pd.read_sql('COMANDO_SQL', conexao) -> vai executar o comando SQL, gerando uma consulta e retornando a resposta dessa consulta para o dataframe

Para pegar uma tabela inteira do nosso banco de dados, usaremos o comando SQL Select *:
"SELECT * FROM BaseDeDados.Tabela"

In [4]:
cursor.execute("SELECT * FROM Salaries")
valores = cursor.fetchall()
print(valores[:10])

Error: ('HY000', '[HY000] no such table: Salaries (1) (1) (SQLExecDirectW)')

In [ ]:
cursor.close()
conexao.close()